/**
 * @name Esquadron42
 * @author Punak
 * @version 1.1.X
 * @description A theme on Esquadron 42
 * @source https://github.com/Shukunkami/BetterDiscord-ThemesAndPlugins/master/Themes/Esquadron42
 */

@import url('https://raw.githack.com/Shukunkami/BetterDiscord-ThemesAndPlugins/main/Themes/Esquadron42/core.css');

:root{
    --background: url('https://raw.githack.com/Shukunkami/BetterDiscord-ThemesAndPlugins/main/Themes/Esquadron42/themebackground.png');
    --activetext-colour: white;

    --primary1-colour: red;
    --primary2-colour: rgba(255,255,0,0.5);
    --primary3-colour: rgba(100,0,0,0.6);
    --primary4-colour: rgba(100,0,0,0.4);
    --primary5-colour: rgba(100,100,0,0.6);

    --secondary1-colour: rgba(50,50,50,0.3);
    --secondary2-colour: rgba(100,100,100,0.5);
    --secondary3-colour: rgba(0,0,0,0.6);
    --secondary4-colour: rgba(0,0,0,0.3);

}
